@import '../bootstrap-castum/bootstrap-castum.scss';
@import './calendar.scss';

@import'~normalize.css';



@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,900');


$ffLogo:'Source Sans Pro', sans-serif;
$ffcontent:'Source Sans Pro', monospace;


body{
	min-width: 320px;
}

@mixin _h3_block($color, $mr_bott){
	text-align: center;
	text-transform: uppercase;
	color: $color;
	margin-bottom: $mr_bott;
	font-family: $ffcontent;
	font-weight: 300;
	font-size: 36px;
}

/*--header--*/

.logo_head{
	font-size: 20px;
	font-family: $ffLogo;
	font-weight: 900;
}

@mixin _input_block($_width){
	width: $_width;
	border:none;
	border-radius: 50px;
	background: #ffffff;
}

.input_head{
	@include _input_block(350px);
}

.input_frm{
	font-size: 12px;
	padding: 10px 20px;
	font-family: $ffcontent;

	border:none;
	width: 80%;
	border-radius: 50px;
}
.btm_input{
	padding: 5px;
    font-size: 18px;
    margin-left: 10px;
	width: 10%;
	border:none;
	background: none;
	opacity: .5;
	&:hover{
	opacity: 1;
	}
}



.bg_nav{
	background:#3d4b7a;
}
.txt_point{
font-size: 20px;
}
.head_baner{
	
	height: 720px;
	background-image: url("/img/head.png");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	
	img{
		position: absolute;
		width: 100%;
	}
}
.head_txt{
	text-align: center;
	color: #ffffff;
	margin-bottom: 73px;
	font-family: $ffcontent;
	font-weight: lighter;
}
.head_btn{
	border: none;
	// style:none;
	background: none;
}



/*-- gallery_block --*/

.gallery_block{
	background: #f4f4f4;
	padding-top: 70px;
	padding-bottom: 125px;
}

.select_destination{
	margin-bottom: 120px;
}
.select_input{
	background: #ffffff;
	border-radius: 30px;
	padding: 5px;


}

.select_txt{
	font-size: 14px;
	font-weight: 400;
	font-family: $ffcontent;
	opacity: .5;
}

.select_icon{
padding: 5px 5px;
	color: black;
	font-size: 14px;
	text-decoration: none;
	opacity: .5;
	&:hover{
		color: black;
		opacity:1;
	}
}

.btn_content{
	 text-transform: uppercase; 
	 // width: 100%;
	 // height: auto;
	 background:#6f72f7 ;
	 border:none;
	 color: #ffffff;
	 font-weight: 400;
	 font-family: $ffcontent;
	 font-size: 14px;
	 border-radius: 50px;
	 transform: all 0.3s;
	 padding: 10px ;


	 &:hover,
	 &:focus{
	 	 opacity: .8; 

	 }
}

.gallary_item {
		padding-top: 15px;
		padding-bottom: 15px;
		position: relative;
		overflow: hidden;
	
		.img-fluid{
			display:block; 
			position: relative;
			width:100%;
		   } 
			.focus_img{
			 display:flex;
			 justify-content:center;
			 align-items:center;
			 position:absolute;
			 top:15px;
			 left:15px;
			 bottom: 15px;
			 right: 15px;
			 opacity:0;
			 transition: .5s ease;
			 text-decoration:none;
			 overflow: hidden;
		   }
		   
		   .focus_img:hover{
			 opacity:1;
			 background:rgba(0, 0, 0, .6);
		   }
		   .txt_focus{
			 color:#ffffff;
			 font-family: $ffcontent;
			 font-weight: bold;
			 font-size: 20px;
		   }
		

	
}

.img_backgraund{
	background-blend-mode: multiply;
  	background-position: top;
	background-size: cover;
  	background-color: rgba(0, 0, 0, 0.5);
	background-repeat: no-repeat;
}

/*--/ gallery_block-- */


/*-- new_houses --*/

.new_houses{
	padding-top: 130px;
	padding-bottom: 145px;
	background: #ffffff;
	display: flex;
	justify-content: center;

	
}
/*-- /new_houses --*/
.h3_nh{
		@include _h3_block(#333, 90px);
	}

.card_txt_h5{
	color: #666666;
	font-family: $ffcontent;
	font-size:16px;
	font-weight: bold;
	}
.txt_price{
		color:#f76f8d;
		font-size: 20px;
		font-family: $ffcontent;
		&:before{
			content: "$";
		}
	}




.tab_btn{
	 text-transform: unset; 
	 background:none ;
	 border:none;
	 color: #ccc;
	 font-weight: 400;
	 font-family: $ffcontent;
	 font-size: 14px;
	 border-radius: 50px;
	 transform: all 0.3s;
	 margin-bottom: 90px;
	 
	 	
	 	&:hover{
		 background:#6f72f7;
		 color:#ffffff;
	}
}

.blog{
	margin: 0px 0px 150px 0px;
}

.card_txt{
	font-size: 18px;
	font-weight: 600;
	font-family:$ffcontent;
	padding-right: 40px;
	a{
		text-decoration: none;
		font-style: none;
		font-size: 18px;
		font-weight: 600;
		font-family:$ffcontent;
		padding-right: 40px;
		color: #333;
	}
}
.img_card{
	width: 100%;
	height: 100%;
	
}

/*--/blog--*/

/*--contact--*/

.contact_block{
	
	background: #43434f;
	padding-top: 72px;
	padding-bottom: 110px;

	h3{
		color: #ffffff;
	}
}

.contact_frm{
	background: none;
	color:#ffffff;
	min-height: 120px;
	font-size: 14px;
	padding: 10px 20px;
	font-family: $ffcontent;
	font-style: italic;

	border:none;
	width: 80%;
}

.btn_width{
	width: 80%;
}

/*--/contact--*/


/*--footer--*/

.footer_block{
	padding-top: 145px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #8b8b91;
  font-family:$ffcontent;
  font-weight: 600;
  margin-bottom: 18px;

}

.contact_a{
	text-decoration: none;
	font-style: none;
	font-weight: 600;
	font-family: $ffcontent;
	color: #6f72f7;
}
.txt_contakt{
	
	font-weight: 600;
	font-family: $ffcontent;
}
.social_icon{
	text-decoration: none;
	font-size: 22px;
	font-style: none;
	margin-left: 5px;
	color: #8b8b91;

}
.floor{
	border-top: 2px solid #f5f5f5;
    .footer_row{
	font-weight: 400;
	font-size: 18px;
	font-family: $ffcontent;
	
	padding: 35px 0px;
  }
}









